body {
  background-color: #2f323a;
  color: #a9a9b3;
  font-family: "inter ui", sans-serif;
  font-size: 16px;
}

hr {
  border-color: #a9a9b3;
}

a {
  color: inherit;
}

a:hover {
  color: #a9a9b3;
  text-decoration: underline;
}

footer {
  text-align: center;
  clear: both;
  position: relative;
}
