nav.navbar,
.navbar-default {
  background-color: #202020 !important;
}

.brand-style {
  margin-left: 220%;
}

.about-style {
  position: absolute;
  right: 15%;
  bottom: 30%;
}

.project-style {
  position: absolute;
  right: 10%;
  bottom: 30%;
}
